.confirmation-success {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15rem auto;
  width: 470px;
  height: 390px;
  background: #ffffff;
  border-radius: 30px;
  padding: 0px 30px;
}
.confirmation-error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15rem auto;
  width: 410px;
  height: 330px;
  background: #ffffff;
  border-radius: 30px;
  padding: 0px 30px;
}
.confirm-title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #3d3d3d;
}
.confirm-content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #3d3d3d;
  margin-top: 1.5rem;
}
.confirm-btn {
  margin-top: 1.5rem;
  width: 120px;
  height: 40px;
}
.circle-success {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #d2fdff;
  margin: auto;
}
.success-icon {
  font-size: 45px;
  font-weight: bold;
  color: #303c6c;
}
.circle-error {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgba(214, 127, 136, 0.1);
  margin: auto;
}
.error-icon {
  font-size: 45px;
  font-weight: bold;
  color: #ed4c5c;
}
@media only screen and (max-width: 630px) {
  .confirmation-success {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 0px 30px;
  }
  .confirmation-error {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 0px 30px;
  }
  .confirm-title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 46px;
    color: #3d3d3d;
  }
  .confirm-content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #3d3d3d;
    margin-top: 1.5rem;
  }
  .confirm-btn {
    margin-top: 1.5rem;
    width: 120px;
    height: 40px;
  }
  .circle-success {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #d2fdff;
    margin: auto;
  }
  .success-icon {
    font-size: 35px;
    font-weight: bold;
    color: #303c6c;
  }
  .circle-error {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgba(214, 127, 136, 0.1);
    margin: auto;
  }
  .error-icon {
    font-size: 35px;
    font-weight: bold;
    color: #ed4c5c;
  }
}
