@import url("antd/dist/antd.less");
@import url("./form.less");
@import url("./navbar.less");
@import url("./Custom-ant-theme.less");
@import url("./ant-theme-vars.less");
@import url("./verify.less");
@import url("./confirmation.less");

body {
  margin: 0;
  font-family: sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
