.ant-form-item {
  margin-bottom: 8px;
}
.ant-input {
  height: 35px;
  left: 0px;
  margin-top: 5px;
  background: #f5f7f9;
  border-radius: 10px;
}
.ant-input-affix-wrapper {
  border-radius: 8px;
}

.ant-form-item-label > label {
  position: relative;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  height: 32px;
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 550;
}

.card-class {
  margin-top: 2rem;
  position: relative;
  padding: 2.5rem 0 0 0;
  width: 35%;
  height: 70%;
  left: 32.5%;
  background: #fff;
  border-radius: 30px;
}

.form-class {
  padding: 20px 30px;
}

.error-icon {
  position: absolute;
}
.title-class {
  margin: 5rem 0 0.5rem 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #3d3d3d;
}

.forgot-password {
  float: right;
  font-weight: 600;
  color: #f4976c;
}
.terms-of-service {
  text-decoration: none;
  color: #f4976c;
  font-size: 14px;
}

.ant-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 0 !important;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #f5f7f9;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  transition: all 0.3s;
  display: inline-flex;
  margin-bottom: 10px !important;
}
.ant-input-prefix,
.ant-input-suffix {
  display: none;
  flex: none;
  align-items: center;
}
.btn-google {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 110px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  color: #555555;
  margin: auto;
}
#header {
  width: 100%;
  height: 30px;
  margin: 20px 0;
  text-align: center;
  font-size: 14px;
  position: relative;
}

#header:after {
  content: "";
  width: 100%;
  border-bottom: solid 1px #b8b8c5;
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 1;
}

h3 {
  background-color: #fff; /* Same as the parents Background */
  width: auto;
  display: inline-block;
  z-index: 3;
  padding: 0px 10px 0 10px;
  color: #b8b8c5;
  position: relative;
  font-family: calibri;
  font-weight: lighter;
  margin: 0;
}
.ant-form-item {
  margin-bottom: 2px !important;
}
.already-account {
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}

.ant-btn-primary:focus,
.ant-btn-primary:active,
.ant-btn-primary:hover {
  color: #fff !important;
}
.small-register-card-class {
  padding: 0.5rem 0 0 0;
  height: 100%;
  background: #fff;
}

@media only screen and (max-width: 830px) {
  .card-class {
    padding: 0.5rem 0 0 0 !important;
    height: 100% !important;
    margin-top: 0 !important;
    position: relative;
    padding: 2.5rem 0 0 0 !important;
    width: 100% !important;
    left: 0 !important;
    background: #fff !important;
    border-radius: 0 !important;
  }
  .title-class {
    margin: 1rem 0 0.5rem 0 !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    text-align: center !important;
    color: #3d3d3d !important;
  }
}
